<div class="card-body p-2 text-center" >
  <a href="/Tcli" type="button" class="btn btn-outline-danger m-1"
    >Listar Usuarios</a
  >
  <a href="/regisNuevCli" type="button" class="btn btn-outline-danger m-1"
    >Agregar Cliente</a
  >
</div>
