<div class="card-body p-2" style="margin-left: 25%;">

  <a href="/lDoc" type="button" class="btn btn-outline-danger m-1">Lista de documentos</a>
  <a href="/aDoc" type="button" class="btn btn-outline-danger m-1">Agregar documentos</a>
  <a href="/bDoc" type="button" class="btn btn-outline-danger m-1">Buscar documentos</a>

</div>