<div class="card-body p-2 text-center" >
  <a href="/lDoc" type="button" class="btn btn-outline-danger m-1"
    >Lista de documentos</a
  >
  <a href="/aDoc" type="button" class="btn btn-outline-danger m-1"
    >Agregar documentos</a
  >
</div>
