<div class="card-body p-2 text-center" >
  <a href="/Fcli" type="button" class="btn btn-outline-danger m-1"
    >Listar facturas</a
  >
  <a href="/regFact" type="button" class="btn btn-outline-danger m-1"
    >Crear factura</a
  >
  <a href="/docFact" type="button" class="btn btn-outline-danger m-1"
    >Asignar Normas</a
  >
</div>
