<div class="card-body p-2" style="margin-left: 30%">
  <a href="/Fcli" type="button" class="btn btn-outline-danger m-1"
    >Listar facturas</a
  >
  <a href="/regFact" type="button" class="btn btn-outline-danger m-1"
    >Crear factura</a
  >
</div>
