<div class="card-body p-2 text-center" >
  <a href="/listInd" type="button" class="btn btn-outline-danger m-1"
    >Lista de industria</a
  >
  <a href="/adInds" type="button" class="btn btn-outline-danger m-1"
    >Agregar industria</a
  >
</div>
