<div class="card-body p-2" style="margin-left: 25%">
  <a href="/lcli" type="button" class="btn btn-outline-danger m-1"
    >Listado de clientes</a
  >
  <a href="/adplan" type="button" class="btn btn-outline-danger m-1"
    >Agregar plan</a
  >
  <a href="/mplan" type="button" class="btn btn-outline-danger m-1">......</a>
</div>
