<div class="card-body p-2 text-center" >
  <a href="/listPaReg" type="button" class="btn btn-outline-danger m-1"
    >Listar</a
  >
  <a href="/adPais" type="button" class="btn btn-outline-danger m-1"
    >Agregar</a
  >
</div>
