<!DOCTYPE html>
<html>
	<head>
		<!-- Basic Page Info -->
		<meta charset="utf-8" />
		<title>DeskApp - Bootstrap Admin Dashboard HTML Template</title>

		<!-- Site favicon -->
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="images/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="images/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="images/favicon-16x16.png"
		/>

		<!-- Mobile Specific Metas -->
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1"
		/>

		<!-- Google Font -->
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="css/core.css" />
		<link
			rel="stylesheet"
			type="text/css"
			href="css/icon-font.min.css"
		/>
		<link rel="stylesheet" type="text/css" href="css/style.css" />

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-GBZ3SGGX85"
		></script>
		<script
			async
			src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2973766580778258"
			crossorigin="anonymous"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-GBZ3SGGX85");
		</script>
		<!-- Google Tag Manager -->
		<script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-NXZMQSS");
		</script>
		<!-- End Google Tag Manager -->
	</head>
	<body>
		<div class="pre-loader">
			<div class="pre-loader-box">
				<div class="loader-logo">
					<img src="images/deskapp-logo.svg" alt="" />
				</div>
				<div class="loader-progress" id="progress_div">
					<div class="bar" id="bar1"></div>
				</div>
				<div class="percent" id="percent1">0%</div>
				<div class="loading-text">Loading...</div>
			</div>
		</div>

		<div class="main-container">
			<div class="pd-ltr-20 xs-pd-20-10">
				<div class="min-height-200px">
				
					<!-- Default Basic Forms Start -->
						<div class="clearfix">
							<div class="pull-left">
								<h4 class="text-blue h4">Registro de usuarios</h4>
								<p class="mb-30">Prueba registro de usuarios</p>
							</div>
						</div>
						<form action="http://localhost:4100/api/usuarios" method="POST">
							<div class="form-group row">
								<label for="N-Identificacion" class="col-sm-12 col-md-2 col-form-label">Numero de identificacion</label>
								<div class="col-sm-12 col-md-10">
									<input id="N_Identificacion"
									name="N_Identificacion"
										class="form-control"
										type="text"
										placeholder="Numero de identificacion"
									/>
								</div>
							</div>
							<div class="form-group row">
								<label for="Nombre" class="col-sm-12 col-md-2 col-form-label">Nombres</label>
								<div class="col-sm-12 col-md-10">
									<input id="Nombre"
									name="Nombre"
										class="form-control"
										type="text"
										placeholder="Nombres"
									/>
								</div>
							</div>
							<div class="form-group row">
								<label for="Apellido" class="col-sm-12 col-md-2 col-form-label">Apellido</label>
								<div class="col-sm-12 col-md-10">
									<input id="Apellido"
									name="Apellido"
										class="form-control"
										type="text"
										placeholder="Apellidos"
									/>
								</div>
							</div>
							<div class="form-group row">
								<label for="Email" class="col-sm-12 col-md-2 col-form-label">Correo</label>
								<div class="col-sm-12 col-md-10">
									<input id="Email"
									name="Email"
										class="form-control"
										placeholder="Correo electronico"
										type="email"
									/>
								</div>
							</div>
							<div class="form-group row">
								<label for="Num_Fijo" class="col-sm-12 col-md-2 col-form-label">Numero telefono fijo</label>
								<div class="col-sm-12 col-md-10">
									<input id="Num_Fijo"
									name="Num_Fijo"
										class="form-control"
										type="text"
										placeholder="Numero telefono fijo"
									/>
								</div>
							</div>
							<div class="form-group row">
								<label for="Num_Celular" class="col-sm-12 col-md-2 col-form-label">Numero de celular</label>
								<div class="col-sm-12 col-md-10">
									<input id="Num_Celular"
									name="Num_Celular"
										class="form-control"
										type="text"
										placeholder="Numero de celular"
									/>
								</div>
							</div>
							<div class="form-group row">
								<label for="Estado" class="col-sm-12 col-md-2 col-form-label">Estado</label>
								<div class="col-sm-12 col-md-10">
									<input id="Estado"
									name="Estado"
										class="form-control"
										type="text"
										value="Activo"
									/>
								</div>
							</div>
							<div class="form-group row">
								<label for="Estado_Ing" class="col-sm-12 col-md-2 col-form-label">estado en ingles</label>
								<div class="col-sm-12 col-md-10">
									<input id="estado_Ing"
									name="Estado_Ing"
										class="form-control"
										type="text"
										Value="Active"
									/>
								</div>
							</div>
							<div class="form-group row">
								<label for="username" class="col-sm-12 col-md-2 col-form-label">Nombre de usuario</label>
								<div class="col-sm-12 col-md-10">
									<input id="username"
									name="username"
										class="form-control"
										type="text"
										placeholder="Nombre de usuario"
									/>
								</div>
							</div>
										
							<div class="form-group row">
								<label for="password" class="col-sm-12 col-md-2 col-form-label"
									>Contraseña</label
								>
								<div class="col-sm-12 col-md-10">
									<input id="password"
										name="password"
										class="form-control"
										placeholder="password"
										type="password"
									/>
								</div>
							</div>
							<div class="form-group row">
								<a href="/" type="button">Cancelar</a>
								<button type="submit">Registrar</button>
							</div>
						</form>
					</div>
					<!-- Input Validation End -->
				</div>
				<div class="footer-wrap pd-20 mb-20 card-box">
					DeskApp - Bootstrap 4 Admin Template By
					<a href="https://github.com/dropways" target="_blank"
						>Ankit Hingarajiya</a
					>
				</div>
			</div>
		</div>
		<!-- js -->
		<script src="js/core.js"></script>
		<script src="js/script.min.js"></script>
		<script src="js/process.js"></script>
		<script src="js/layout-settings.js"></script>
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
				height="0"
				width="0"
				style="display: none; visibility: hidden"
			></iframe
		></noscript>
		<!-- End Google Tag Manager (noscript) -->
	</body>
</html>
