<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/sign-in.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
</head>
<body>
    <form action="/register" method="POST">
        <div class="mb-3">
          <label for="N_identificacion" class="form-label">Numero de cedula</label>
          <input type="text" class="form-control" name="N_identificacion" id="N_identificacion">
          
        </div>
        <div class="mb-3">
          <label for="Nombre" class="form-label">Nombres</label>
          <input type="text" class="form-control" name="Nombre" id="Nombre" >
        </div>
        <div class="mb-3">
          <label for="Apellido" class="form-label">Apellidos</label>
          <input type="text" class="form-control" name="Apellido" id="Apellido" >
          
        </div>
        <div class="mb-3">
          <label for="Email" class="form-label">Email</label>
          <input type="email" class="form-control" name="Email" id="Email" >
          
        </div>
        <div class="mb-3">
          <label for="Num_fijo" class="form-label">Telefono fijo</label>
          <input type="text" class="form-control" name="Num_fijo" id="Num_fijo" >
          
        </div>
        <div class="mb-3">
          <label for="Num_Celular" class="form-label">Telefono movil</label>
          <input type="text" class="form-control" name="Num_Celular" id="Num_Celular" >
          
        </div>
        <div class="mb-3">
          <label for="Estado" class="form-label">Estado</label>
          <input type="email" class="form-control" name="Estado" id="Estado" >
          
        </div>
        <div class="mb-3">
          <label for="Estado_ing" class="form-label">Estado en ingles</label>
          <input type="email" class="form-control" name="Estado_ing" id="Estado_ing" >
          
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">Usuario</label>
          <input type="email" class="form-control" name="username" id="username" >
          
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" name="password" id="password">
        </div>
        <div class="card-footer bg-transparent border-primary">
            <a href="/" type="button" class="btn btn-secunary">Canccelar</a>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        
      </form>
    
</body>
</html>