<%- include ('../partials/admi/header') %>
<h1>
  Index de administracion Index de administracion Index de administracion Index
  de administracion Index de administracion
</h1>
<%-include('../partials/admi/footer') %>
