<div class="card-body p-2 text-center">
  <a href="/norA" type="button" class="btn btn-outline-danger m-1"
    >Listar Normas</a
  >
  <a href="/asnor" type="button" class="btn btn-outline-danger m-1"
    >Asignar normas</a
  >
</div>
