<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tipo de Iden</th>
      <th scope="col">Num de cedula</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Correo</th>
      <th scope="col">Num fijo</th>
      <th scope="col">Num celular</th>
      <th scope="col">estado/provincia</th>
      <th scope="col">Industria</th>
      <th scope="col">UserName</th>
      <th scope="col" class="text-end">Acciones</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <th scope="row">1</th>
      <td>CC</td>
      <td>12346</td>
      <td>Pepito</td>
      <td>Perez</td>
      <td>xxx@xx.com</td>
      <td>2354697</td>
      <td>3135478924</td>
      <td>Bogotá</td>
      <td>Tecnoloia</td>
      <td>pperez</td>
      <td class="text-end">
        <a href="#" type="button" class="btn btn-lidth btn-small"><i
            class="bi bi-eye"
          ></i>
          Ver</a>
        <a href="#" type="button" class="btn btn-lidth btn-small"><i
            class="bi bi-pencil"
          ></i>
          Editar</a>
        <a href="#" type="button" class="btn btn-lidth btn-small"><i
            class="bi bi-person-x"
          ></i>
          Eliminar</a>
      </td>
    </tr>
  </tbody>
</table>