<div class="card-body p-2">

  <button type="button" class="btn btn-outline-danger m-1">Listar Usuarios</button>
  <button type="button" class="btn btn-outline-danger m-1">Agregar usuarios</button>
  <button type="button" class="btn btn-outline-danger m-1">Danger</button>

</div>