<%- include ('NavUp') %>
<ul class="tab-bar">
    <li data-num="1" class="tab wave dark">LISTADO USUARIOS</li>
    <li data-num="2" class="tab wave dark">AGREGAR USUARIOS</li>
  </ul>
  <%- include ('NavDown') %>