<div class="card-body p-2" style="margin-left: 30%">
  <a href="/lUser" type="button" class="btn btn-outline-danger m-1"
    >Listar Usuarios</a
  >
  <a href="/regUsOrg" type="button" class="btn btn-outline-danger m-1"
    >Agregar usuarios</a
  >
</div>
